
.icon-video:before { content: '\e800'; } /* '' */
.icon-food:before { content: '\e801'; } /* '' */
.icon-swimming:before { content: '\e838'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */